:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;

  --primary-color: #092C4C;
  --secondary-color: #F2994A;
  --secondary-dark-color: color-mix(in srgb, #f55 90%, #000 );
  --secondary-light-color: color-mix(in srgb, #f55 65%, #fff 20%);
  --third-color: #ddd;
  --contrast-color: #fff;
  --text-color: #333;


  --sb-bg:#fff;
  --sb-border:#e5e7eb;
  --sb-muted:#94a3b8;
  --sb-text:#0f172a;
  --sb-hover:#f3f6fb;
  --sb-active-bg:#e9f1ff;   /* pill activo */
  --sb-active:#1d4ed8;      /* azul primario */
  --brand:#f59e0b;
}

*{
  box-sizing: border-box;
  text-decoration: none;
}